[Unit]
Description=Project Wiki - RabbitMQ updater consumer
After=network-online.target

[Service]
WorkingDirectory=/home/jkeyser/project-wiki
ExecStart=/usr/bin/npm run start:updater
Environment="NODE_ENV=production"
EnvironmentFile=%h/.config/project-wiki-updater.env
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
